@model IEnumerable<Project.Skillz.Models.Interview>

@{
    ViewBag.Title = "Index";
}
<link href="~/Content/sty.css" rel="stylesheet" />
<h3 class="myh3">Dashboard /</h3>
<h2 class="myh2">Interviews</h2>
<script>
    $(document).ready(function () {
        $('#select_all').click(function (e) {
            $(this).closest('table').find('td input:checkbox').prop('checked', this.checked);
        });
    });
</script>

<p style="text-align: right; font: normal normal normal 14px/12px Lucida Console; letter-spacing: 0px; color: #FFFFFF; opacity: 1;">
    <button type="button" class="btn btn-danger" style="border-radius:20px;"><span class="glyphicon glyphicon-plus">&nbsp;</span>@Html.ActionLink("New Interview", "Create","Interviews", new { Style = "color:#FFFFFF" }, new { @data_toggle = "modal", @data_target = "#myModal" })</button>
    <button type="button" class="btn" style="border-radius:20px;"><span class="glyphicon glyphicon-remove">&nbsp;</span>@Html.ActionLink("Delete Selected", "Delete", "Interviews", new { Style = "color:#2D2121" })</button>
    <button type="button" class="btn" style="border-radius:20px;"><span class="glyphicon glyphicon-option-vertical">&nbsp;</span>@Html.ActionLink("More Options", "","", new { Style = "color:#2D2121" })</button>
</p>
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <p>Some text in the modal.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<table class="table table-condensed mytable">
    <thead class="mythead">
        <tr>
            <th>
                <input type="checkbox" id="select_all" name="select_invoice" />
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InterviewName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SkillLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssessmentModes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Questions)
            </th>
          
        </tr>
    </thead>
    <tbody class="mytbody">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <input type="checkbox" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InterviewName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SkillLevel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AssessmentModes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Questions)
                </td>
                
            </tr>


        }</tbody>

</table>
